<launch>

    <arg name="project" default="sensor_fusion"/>
    
    <!-- <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/out out:=/camera/image"/> -->
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/rgb/image_raw out:=/camera/image"/>

    <!-- Parameters -->
    <!-- <rosparam file="$(find sensor_fusion)/config/params.yaml" command="load" /> -->
    <rosparam file="$(find sensor_fusion)/config/params.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find sensor_fusion)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <!-- <include file="$(find sensor_fusion)/launch/include/module_robot_state_publisher.launch" /> -->

    <!--- Run Navsat -->
    <!-- <include file="$(find sensor_fusion)/launch/include/module_navsat.launch" /> -->

    <!--- Run Rviz-->
    <include file="$(find sensor_fusion)/launch/include/module_rviz.launch" />

</launch>
